.root {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;

    /* set div to fullscreen */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

div {
    border: 1px solid black;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: green;
}

.right {
    flex: 7;
    background-color: yellow;
}