.root {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.section {
    border: 1px solid black;
}

.left {
    flex: 3;
}

.right {
    flex: 7;
}